<h1> Congratulations! Please check your order.</h1>
<h6> Order: <%= @order.id%></h6>
<h3> Customer: <%= @order.user.email %></h3>

<% @ordered_products.each do |item| %>

<h2> Product: <%= item.name %></h2>
<h2> Quantity: <%= item.quantity %></h2>
<h2> Price: <%= item.price %> </h2>
<br>
<%end%>

<h4> Subtotal: <%= number_to_currency(@order.subtotal) %></h4>
<h6> Tax: <%= number_to_currency(@order.tax) %></h6>
<h4> Total: <%= number_to_currency(@order.total) %></h4>





